<footer>
    <div class="inner_footer w1100">
        <div class="f_social">
            <a href=""><img src="../img/but_social_facebook.svg" alt=""></a>
            <a href=""><img src="img/but_social_instagram.svg" alt=""></a>
            <a href=""><img src="img/but_social_twitter.svg" alt=""></a>
        </div>
        <div class="f_bot">
            <p>© 2023 pigmalion. 판권소유</p>
        </div>
    </div>
</footer>