/* 공통 */
html {
  font-size: 16px;
}

.w1100 {
  width: 1100px;
  margin: 0 auto;
}

body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}


/* 모바일용 메뉴  */
.h_m_menu_wrap {
  display: none;
  position: fixed;
  z-index: 11;
  right: 0;
  transform: translate(100vw, 0);
  width: 100vw;
  height: 100vh;
  transition: all 800ms;
  border-radius: 0% 0% 100% 50%;
}

.h_m_open {
  position: fixed;
  transform: translateX(0);
  border-radius: 0% 0% 0% 0%;
  background-color: rgba(164, 65, 65, 100%);
}

/* 모바일 메뉴 gnb */
.h_m_menu_wrap>ul {
  padding: 150px 50px;
  box-sizing: border-box;
}

.h_m_menu_wrap>ul>.log_out_btn>a {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}



.h_m_menu_wrap>ul>.log_out_btn>a::after {
  display: inline-block;
  content: '';
  width: 25px;
  height: 25px;
  margin-left: 20px;
  background-image: url(../img/logout.png);
  background-size: cover;
}

.h_m_menu_wrap>ul>li {
  margin-top: 50px;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(252, 252, 252, 0.5);
}

.h_m_menu_wrap>ul>li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.h_m_menu_wrap>ul>li>a {
  display: block;
  width: 100%;
  color: #fff;
  position: relative;
}

.h_m_menu_wrap>ul>.m_menu_gnb>a::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(../img/m_menubar_add.png);
  background-size: cover;
}

/* 모바일메뉴 gnb home */


.h_m_menu_wrap>ul>li:nth-child(2)>a::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(../img/m_menu_home.png);
  background-size: cover;
}








/* 햄버거 버튼 */
.m_hamberger {
  display: none;
  position: fixed;
  z-index: 99;
  top: 15px;
  right: 50px;
  /* 이너헤더 패딩값 만큼 띄어주가 */
  transition: all 1s;
}



.m_hamberger span {
  display: block;
  height: 2px;
  margin: 2.5px 0;
  background-color: white;
  transition: all 700ms;
}

.m_hamberger>.line1 {
  width: 20px;
  transform: rotate(0) translateY(0);
}

.m_hamberger>.h_m_line1_cross {
  width: 20px;
  transform: rotate(45deg) translateY(10px);
}

.m_hamberger>.line2 {
  width: 18px;
  transform: translateX(0);
}

.m_hamberger>.h_m_line_out {
  width: 28px;
  transform: translateX(30px);
  opacity: 0;
}

.m_hamberger>.line3 {
  width: 10px;
  transform: rotate(0) translateY(0);
}

.m_hamberger>.h_m_line3_cross {
  width: 20px;
  transform: rotate(-45deg) translateY(-10px);
}

/* 페이지 상단 이동 버튼 */
.page_up {
  display: none;
  position: fixed;
  z-index: 9;
  right: 50px;
  bottom: 50px;
  animation-name: page_up_ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.page_up_img {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-image: url(../img/up-arrow.png);
}

.page_up>p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes page_up_ani {
  0% {
    bottom: 50px;
  }

  50% {
    bottom: 70px;
  }

  100% {
    bottom: 50px;
  }
}


/* 헤더시작 */
header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.header_drop {
  position: fixed;
  background-color: #fff;
  animation: dropHeader 0.3s;
}

@keyframes dropHeader {
  0% {
    top: -5rem;
  }

  100% {
    top: 0;
  }
}


.inner_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.logo {
  display: block;
  width: 180px;
}

.logo>img {
  width: 100%;
}

.gnb {
  display: flex;
  align-items: center;
}

.gnb>ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb>ul>li {
  /* display: flex; */
  margin-left: 70px;
}

.gnb>ul>li:nth-child(1) {
  margin: 0;
}

.gnb>ul>li>a {
  display: block;
  font-weight: bold;
  font-size: 1.125rem;
  /* gnb 폰트사이즈 */
  color: #ddd;
  transition: color 0.3s ease-in-out;
}


.gnb>ul>li>a>span {
  display: block;
  width: 0;
  height: 2px;
  background-color: #91CF00;
  margin-top: 5px;
  transition: width 1s;
}


.greenRoundBox {
  background-color: #91CF00;
  padding: 5px 15px 5px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 1.125rem;
  /* gnb 폰트사이즈 */
  color: #ddd;
}





/* 섹션1 시작 */
/* 섹션1 백그라운드 */
#section1 {
  width: 100%;
  height: 800px;
  background-image: url(../img/woman-g023d417ef_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 40px 40px;
}

.section1_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 40px 40px;
}

/* 섹션1 이너 */
.section1_inner {
  position: relative;
  top: -75%;
  /* 이너박스를 섹션원 백그라운드에 넣어준값(이너박스 높이 조절) */
}

.section1_inner>h1 {
  font-size: 2.687rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}

.free_box>a {
  width: fit-content;
  display: block;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #91CF00;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.section1_inner>p {
  font-size: 0.937rem;
  color: #fff;
  margin-bottom: 20px;
}

.section1_inner>p a {
  color: #91CF00;
  font-weight: bold;
}

.section1_inner>h3 {
  font-size: 1.312rem;
  color: #fff;
  margin-bottom: 20px;
}


/* 섹션2 시작 */
#section2 {
  width: 100%;
  /* position: relative; */
}

/* 섹션2 모바일 메뉴박스 아코디언 */
.m_menu_box {
  display: none;
}

.m_menu_box_wrap {
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #91CF00;
}

.m_menu_box_wrap>p {
  color: #fff;
  font-weight: bold;
}

/* 모바일 메뉴박스 플러스 버튼  */
.m_menu_bar_btn {
  position: relative;
}

.m_menu_bar_btn>div {
  width: 25px;
  height: 2px;
  background-color: #fff;

}

.m_menu_bar_btn>div:nth-child(2) {
  position: absolute;
  top: 0;
  transition: transform 1s;
  transform: rotate(90deg);
}

.m_menu_bar_btn_click {
  transform: rotate(0) !important;
}

/* 모바일 메뉴박스 내용 */
.m_menu_cont {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  height: 0;
  transition: height 0.5s, padding 0.5s;
  width: 80%;
  margin: 0 auto;
  background-color: #A44141;
  border-radius: 20px;
}

.m_menu_cont_click {
  height: 250px;
}

.m_menu_cont>li>a {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.m_menu_cont>li:nth-child(1) {
  margin-top: 0;
}

.m_menu_cont>li {
  margin-top: 30px;
}

.m_menu_title {
  color: #fff;
  font-weight: bold;
}

.m_menu_bar_plus {
  width: 15px;
  height: 15px;
  background-image: url(../img/m-right-arrow.png);
  background-size: cover;
}

/* 섹션2 의 메뉴박스 */
.menu_box {
  width: 100%;
  margin-top: -100px;
}

.menu_box_cont {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu_box_cont>li {
  width: calc(20% - 20px);
  padding: 30px 0;
  box-sizing: border-box;
  border-radius: 0 20px 0 20px;
  background-color: #91CF00;
}

.menu_box_cont>li>a>div {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 16px;
}

.box_icon1 {
  background-image: url(../img/메인달력아이콘.png);
}

.box_icon2 {
  background-image: url(../img/free-icon-chicken-1680514.png);
}

.box_icon3 {
  background-image: url(../img/maineatfood.png);
}

.box_icon4 {
  background-image: url(../img/free-icon-recipe-book-7373689.png);
}

.menu_box_cont>li>a {
  text-align: center;
}

.menu_box_cont>li>a span {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.1555em;
  font-weight: bold;
}

/* 섹션2 비만도계산 */
.calculator {
  margin-top: 132.5px;
  margin-bottom: 160px;
}

.inner_calc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* 비만도 계산 왼쪽 박스 */
.inner_calc_left {
  width: 50%;
}

.inner_calc_left>h1 {
  /* 나의비만도는 */
  font-size: 2.4rem;
  font-weight: bolder;
  margin-bottom: 30px;
  letter-spacing: -5px;
}

.inner_calc_left p {
  /* 성별정보 ,신체 정보 */
  font-size: 1.125rem;
  font-weight: bold;
}

.gender_box {
  margin: 10px 0 20px;
}

.input_box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  padding: 8px 10px;
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 20px;
}

.input_box>input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.input_box>span {
  font-weight: bold;
}

.green_btn {
  margin-top: 20px;
  width: 80%;
  font-weight: bold;
  font-size: 1rem;
  padding: 11px;
  background: #91CF00;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
}

#warn_empty {
  position: absolute;
  margin-top: 20px;
}

/* 비만도 계산 오른쪽 박스 */
.inner_calc_right {
  width: 50%;
}

.inner_calc_right>p {
  font-size: 1.125rem;
  font-weight: bold;
}

.result_box {
  width: 100%;
  background-color: #91CF00;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
}

.result_box span {
  color: #fff;
}

.result_box>div {
  padding-top: 40px;
  min-height: 80px;
  box-sizing: border-box;
}

.weight {
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding: 0px 10px 5px;
  box-sizing: border-box;
  margin: 0 10px;
  min-width: 200px;
}

.reset_box>button {
  background-color: #91CF00;
  border: 0;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  padding-bottom: 40px;
  box-sizing: border-box;
}


/* 컨텐츠2 컨텐츠 소개페이지 시작 */

.f_green {
  color: #91CF00;
}

/* 공통 */
/* 섹션 오른쪽 사진 왼쪽 텍스트 시작 */
.cont1 {
  padding: 180px 0 255px;
  background-color: rgba(145, 207, 0, 20%);
}

.inner_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 컨텐츠 소개페이지 공통 이너  */
.inner_cont h4 {
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 20px;
  /* 공통 글씨 */
}

.inner_cont h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: -2px;
  /* 공통 글씨 */
}

.cont_title {
  padding-top: 30px;
}

.cont_title>h1>span {
  margin-top: -10px;
  display: block;
}

.cont_title>a {
  font-size: 1.25rem;
  font-weight: 700;
}

.cont_title>a>span {
  font-size: 1.5rem;
}

/* 슬라이드 이미지섹션 시작*/
.cont_img {
  width: 54.5%;
  height: 370px;
}

.cont_img>img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* 섹션 왼쪽 사진 오른쪽 텍스트 시작 */
.cont2 {
  padding: 180px 0 255px;
  box-sizing: border-box;
}



/* 중간타이틀시작 */
.center_title {
  background-color: rgba(145, 207, 0, 30%);
  text-align: center;
  padding: 90px 0 70px;
  box-sizing: border-box;
  letter-spacing: -2px;
}

.center_title>img {
  width: 200px;
  height: 42px;
  margin-bottom: 20px;
}

.center_title>h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #91CF00;
  margin-bottom: 40px;
}

.center_title>h1>strong {
  color: #A44141;
}

.center_title>h4 {
  font-size: 1.4rem;
  color: #A44141;
}

.center_title>h4>strong {
  font-size: 1.5rem;
  font-weight: bold;
}



/* 팻시크릿 사용법 섹션 시작 */
.useruse {
  padding: 120px 0 150px;
  box-sizing: border-box;
  background-color: #91CF00;
  color: #fff;
  font-size: 1.15rem;
  font-weight: bold;
}

.inner_useruse>ul {
  display: flex;
  justify-content: space-between;
}

.inner_useruse>ul>li>div {
  background-color: #fff;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.inner_useruse>ul>li>div>img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.inner_useruse>ul>li>p {
  text-align: center;
}


/* 팻시크릿 커뮤니티 섹션 */
.common_title {
  font-size: 2.38rem;
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 25px;
}

.title_sub {
  display: flex;
  justify-content: space-between;
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.title_sub>p {
  color: #666666;
}

/* 공통 */

.community_sec {
  padding: 120px 0 90px;
  box-sizing: border-box;
}

.t_sub_more>a {
  color: #91CF00;
}

.t_sub_more>a>span {
  font-size: 1.5rem;
}

.com_list {
  display: flex;
  justify-content: space-between;
}

.commu_list_cont {
  width: calc(33.333% - 36.666px);
}

.commu_list_cont>a div {
  /* 얘는 원하는 사이즈 박스의 높이/230*100 */
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.commu_list_cont>a div>div {
  padding-top: 70%;
  transition: all 0.3s linear;
}

.commu_list_cont>a div>div:hover {
  transform: scale(1.2);
}

.commu_img1 {
  background-image: url(../img/8db2f3ec-5ff1-4e43-8e2f-db7ef754a407_fs2.jpg);

}

.commu_img2 {
  background-image: url(../img/279dec71-4f44-4695-b490-09392e64315c_fs2.jpg);

}

.commu_img3 {
  background-image: url(../img/932a159a-f4e7-41e2-8f5e-a4aaa3a6f928_fs2.jpg);

}

.commu_list_cont>a h4 {
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 20px;
}

.commu_uinfo {
  padding-top: 15px;
}

.commu_uinfo a {
  display: flex;
  align-items: center;
}

.commu_uinfo a>div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 15px;
}

.commu_uinfo a>p {
  font-size: 0.95rem;
}

.uinfo_img1 {
  background-image: url(../img/8998e7e1-f645-41c3-a135-b21e8e2db6ef_sq.jpg);
}

.uinfo_img2 {
  background-image: url(../img/8998e7e1-f645-41c3-a135-b21e8e2db6ef_sq.jpg);
}

.uinfo_img3 {
  background-image: url(../img/a22d2a0b-ca00-4fa5-ab4e-3d1ce75ec658_sq.jpg);
}

.hide_more {
  padding-top: 40px;
}

.hide_more>a {
  display: none;
  width: 240px;
  height: 40px;
  background-color: #91CF00;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
}


/* 문의사항섹션 */
.qustions_sec {
  padding-bottom: 125px;
  box-sizing: border-box;
}

.qustions_list {
  display: flex;
  justify-content: space-between;
}

.qustions_list>li {
  width: calc(50% - 22px);
  position: relative;
}

.qustions_list>li>a {
  display: block;
  padding: 35px 50px;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  position: relative;
}

/* 테두리 효과 */
.qustions_list>li>a span {
  position: absolute;
  background: #91CF00;
}

.qustions_list>li>a span:nth-child(1) {
  left: 0;
  top: 0;
  width: 0;
  height: 1px;
  transition: width 0.1s;
}

.qustions_list>li>a span:nth-child(2) {
  right: 0;
  top: 0;
  width: 1px;
  height: 0;
  transition: height 0.1s linear 0.1s;
}

.qustions_list>li>a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: width 0.1s linear 0.2s;
}

.qustions_list>li>a span:nth-child(4) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 0;
  transition: height 0.1s linear 0.3s;
}

.qustions_list>li>a:hover span:nth-child(1) {
  width: 100%;
}

.qustions_list>li>a:hover span:nth-child(2) {
  height: 100%;
}

.qustions_list>li>a:hover span:nth-child(3) {
  width: 100%;
}

.qustions_list>li>a:hover span:nth-child(4) {
  height: 100%;
}



.qustions_list>li>a>h3 {
  font-size: 1.52rem;
  font-weight: bold;
}

.qustions_list>li>a>h5 {
  margin-bottom: 5px;
  font-size: 1rem;
  opacity: 70%;
}

.qustions_more {
  width: fit-content;
  padding: 5px 15px;
  color: #fff;
  font-size: 0.8rem;
  background-color: #91CF00;
  border-radius: 5px;
  text-align: center;
}

.qustions_list>li>a>img {
  position: absolute;
  width: 50px;
  right: 50px;
  top: calc(50% - 25px);
}






/* 반응형시작*/
@media(max-width:1100px) {
  .w1100 {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }

  /* 헤더 */
  .h_m_menu_wrap {
    display: block;
  }

  .gnb {
    display: none;
  }

  .logo {
    display: block;
    width: 120px;
  }

  /* 섹션1 */
  #section1 {
    height: 700px;
  }

  /* 메뉴섹션 */
  /* 모바일 메뉴바 아코디언 */
  .m_menu_box {
    display: block;
  }

  .m_hamberger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  /* 메뉴바 컨텐츠 */
  .menu_box {
    width: 100%;
    margin-top: -30px;
  }

  .menu_box_cont {
    display: none;
  }
}

@media(max-width:820px) {
  html {
    font-size: 12px;
  }

  /* 헤더시작 */





  /* 섹션1 */
  #section1 {
    height: 600px;
  }


  /* 메뉴 섹션 */

  /* 비만도 계산 */
  .calculator {
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .inner_calc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inner_calc_left {
    width: 100%;
  }

  .inner_calc_right {
    width: 100%;
    margin-top: 50px;
  }

  .input_box {
    width: 100%;
  }

  .green_btn {
    width: 100%;
  }

  /* 컨텐츠2 시작 오늘먹은 칼로리? */
  .inner_cont {
    flex-wrap: wrap;
  }

  .inner_cont.m1 {
    flex-direction: column-reverse;
  }

  .cont1 {
    padding: 100px 0 150px;
  }

  .cont2 {
    padding: 100px 0 150px;
  }

  .cont_title>h1>span {
    display: inline;
  }

  .cont_title {
    width: 100%;
  }

  .cont_title>h4 {
    display: none;
  }

  .cont_img {
    width: 100%;
    height: 370px;
  }



  /* 팻시크릿 사용법 섹션 */
  .useruse {
    padding: 90px 0 120px;
  }

  .inner_useruse>ul {
    flex-wrap: wrap;
  }

  .inner_useruse>ul>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .inner_useruse>ul>li:nth-child(2) {
    margin: 50px 0;
  }




  /* 팻시크릿 커뮤니티 섹션 */
  .community_sec {
    padding: 90px 0 60px;
    box-sizing: border-box;
  }

  .t_sub_more {
    display: none;
  }

  .hide_more>a {
    display: block;
  }

  .commu_list_cont:nth-child(3) {
    display: none;
  }

  .commu_list_cont {
    width: calc(50% - 36.666px);
  }

  /* 문의사항섹션 */
  .qustions_list>li>a {
    padding: 15px 30px;
  }

  .qustions_list>li>a>img {
    width: 40px;
  }
}

@media(max-width:700px) {

  /* 페이지 업 버튼 */
  .page_up {
    right: 25px;
    bottom: 50px;
  }

  .page_up_img {
    width: 30px;
    height: 30px;
  }

  /* 팻시크릿 커뮤니티 섹션 */
  .commu_list_cont:nth-child(2) {
    display: none;
  }

  .commu_list_cont {
    width: 100%;
  }

  /* 문의사항 섹션 */
  .qustions_sec {
    padding-bottom: 80px;
    box-sizing: border-box;
  }

  .qustions_list {
    flex-wrap: wrap;
  }

  .qustions_list>li {
    width: 100%;
  }

  .qustions_list>li:nth-child(2) {
    margin-top: 20px;
  }

}

@media(max-width:414px) {
  html {
    font-size: 10px;
  }

  .w1100 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  /* 햄버거 버튼 */
  .m_hamberger {
    right: 20px;
  }

  /* 섹션1 */
  #section1 {
    height: 500px;
  }

  /* 메뉴섹션 */


  /* 비만도 계산 */

  .calculator {
    margin-top: 60px;
    margin-bottom: 80px;
  }

  .inner_calc_left {
    width: 100%;
  }

  .inner_calc_right {
    width: 100%;
  }

  .weight {
    min-width: 100px;
  }

  /* 컨텐츠2 시작 오늘먹은 칼로리? */
  .cont1 {
    padding: 70px 0 90px;
  }

  .cont2 {
    padding: 70px 0 90px;
  }

  .cont_img {
    width: 100%;
    height: 250px;
  }

  /* 중간타이틀시작 */
  .center_title {
    background-color: rgba(145, 207, 0, 30%);
    text-align: center;
    padding: 50px 0 30px;
    box-sizing: border-box;
    letter-spacing: -2px;
  }

  .center_title>img {
    width: 200px;
    height: 42px;
    margin-bottom: 10px;
  }

  .center_title>h1 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #91CF00;
    margin-bottom: 10px;
  }

  /* 팻시크릿 사용법 섹션 */
  .useruse {
    padding: 60px 0 90px;
  }

  .inner_useruse>ul>li:nth-child(2) {
    margin: 25px 0;
  }

  .inner_useruse>ul>li>div {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }

}